<header class="site-header">

  <div class="wrapper">

    {% if page.layout != "home" %}
    <span class="site-title">
        {% assign name = site.name | split: ' ' %}
        <strong>{{ name | first }}</strong> {{ name | last }}
    </span>
    {% endif %}

    <nav class="site-nav">

      <div class="trigger">
        <!-- About -->
        {% if page.layout == "home" %}
        <a class="active-page-link" href="{{ site.baseurl | prepend: site.url }}/">home</a>
        {% else %}
        <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/">home</a>
        {% endif %}
        
    
        {% if page.active == "about" %}
        <a class="active-page-link" href="{{ '/about/' | prepend: site.baseurl | prepend: site.url }}">about me</a>
        {% else %}
        <a class="page-link" href="{{ '/about/' | prepend: site.baseurl | prepend: site.url }}">about me</a>
        {% endif %}
        
        <!-- Blog -->
        {% if page.active == "blog" %}
        <a class="active-page-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">blog</a>
        {% else %}
        <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">blog</a>
        {% endif %}
        
        {% if page.active == "projects" %}
        <a class="active-page-link" href="{{ '/projects/' | prepend: site.baseurl | prepend: site.url }}">projects</a>
        {% else %}
        <a class="page-link" href="{{ '/projects/' | prepend: site.baseurl | prepend: site.url }}">projects</a>
        {% endif %}
        
        {% if page.active == "publications" %}
        <a class="active-page-link" href="{{ '/publications/' | prepend: site.baseurl | prepend: site.url }}">publications</a>
        {% else %}
        <a class="page-link" href="{{ '/publications/' | prepend: site.baseurl | prepend: site.url }}">publications</a>
        {% endif %}
        

        <!-- CV link -->
        <!-- <a class="page-link" href="{{ '/assets/pdf/CV.pdf' | prepend: site.baseurl | prepend: site.url }}">vitae</a> -->

      </div>
    </nav>

  </div>

</header>
